@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/ufonts.com_gotham-black-webfont.eot');
    src: url('../fonts/ufonts.com_gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_gotham-black-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_gotham-black-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_gotham-black-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_gotham-black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

