form{
	label{
		font-family: $oswald;
		font-size: 16px;
		text-transform:uppercase;
		text-align:center;
		display: block;
		font-weight: 400;
	}

	.form-control{
		border-radius:initial;
		background-color: #e1e1e1;
		border:2px solid #e1e1e1;
		padding: 25px 20px;
		font-size: em(16px);
		-webkit-box-shadow: none;
		box-shadow: none;
		margin-bottom:40px;
	}
	.has-error {
		label{
			color:$error;
		}
		.form-control{
			border:2px solid $error;
		}
	}
	.submit{
		text-transform:uppercase;
		text-align:center;
		display:block;
		border:none;
		font-family: $oswald;
		padding: 25px 20px;
		font-size: em(16px);
		background-color:$color-prim;
		color:$white;
		width: 100%;
		cursor:pointer;
		@include transition(250ms);
		&:hover{
			background:$color-sec;
		}
	}
	#returnmessage{

		p{
			font-size:em(14px);
			color:$error;
			text-transform:uppercase;
			margin: 10px 0;
		}
	}
}