footer{
	background:$footer;
	margin-top: 50px;
	h2{
		font-size:em(32px);
		color: $gray;
		font-family:$oswald;
		padding: 40px 0 20px;
	}
	h3{
		font-size:em(16px);
		color: $white;
		font-family:$oswald;
		background: url(../img/sprite.png) -3px -84px no-repeat;
		padding-left: 23px;
		padding-bottom: 10px;
	}
	ul{
		list-style:none;
		padding: 0 0 0 23px;
		margin: 0;
		li{
			margin:8px 0;
			a{
				font-family:$oswald;
				font-weight:300;
				display: block;
				color:$white;
			}
		}
	}
	.logoFooter{
		padding:40px 0;
	}
}
.copyright{
	background: $gray;
	color:#9f9d9d;
	font-size: em(12px);
	padding:28px 0;
	a{
		color:#9f9d9d;
	}
}