body{
	font-family: $oswald;
	font-size:$base-font-size;
	color:$color-text;
	background: #ececec url(../img/bg.png) center top no-repeat fixed;
}

.mainTitle {
	text-align:center;
	padding-bottom:50px;
	@media (max-width: $screen-xs-max) {
		padding-bottom: 10px;
	}
	.target{
		margin: 50px auto 20px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 49.9%;
			width: 3px;
			height: 40px;
			background: #d5d5d5;
			@media (max-width: $screen-xs-max) {
				display:none;
			}

		}
	}
	h2{
		margin: 0;
		font-family: $oswald;
		font-size:em(50px);
		@media (max-width: $screen-xs-max) {
			font-size:em(28px);
		}
		color:$color-prim;
		text-transform:uppercase;
	}
	h3{
		margin: 0;
		text-transform:uppercase;
		color:$gray;
		font-size: em(14px);
		font-family: $oswald;
		font-weight: 300;
		strong{
			font-weigth:400;
		}
	}
}

p{
	font-size: em(24px);
	font-family: $oswald;
	line-height: 1.6em;
	color:$color-text;
	font-weight:300;
	margin: 1em 0 1.5em;
	strong{
		text-transform:uppercase;
		font-weight:400;
	}
}
a{
	color:$color-prim;
	@include transition(250ms);
	&:hover,
	&:active,
	&:focus{
		color:$color-sec;
		text-decoration:none;
	}
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.mainContent {
	padding-top:113px;
	position: relative;
	overflow: hidden;
	@media (max-width: $screen-xs-max) {
		padding-top:70px;
	}
}

.target{
	width: 27px;
	height: 28px;
	background: url(../img/sprite.png) -140px top no-repeat;
	&.empty{
		background: url(../img/sprite.png) -202px top no-repeat;
	}
}

.plusLink {
	height: 100px;
	width: 100px;
	border-radius:100%;
	background: transparent;
	border:2px solid $color-prim;
	margin: 20px auto;
	display: block;
	position: relative;
	@include transition( all .3s);
	cursor: pointer;
	text-align: center;
	@media (max-width: $screen-xs-max) {
		height: 50px;
		width: 50px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
		height: 75px;
		width: 75px;
	}
	&:hover{
		background: $color-prim;
		border:2px solid $color-prim;
		i{
			background:$white;
			&:after{
				background:$white;
			}
		}
	}
	i{
		top: 22px;
		position: relative;
		width: 3px;
		height: 50px;
		@media (max-width: $screen-xs-max) {
			top: 10px;
			height: 25px;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
			top:16px;
			height: 37px;
		}
		background: $color-prim;
		display: inline-block;
		@include transition(.3s);
		&:after, &:before{
			content: '';
			position: absolute;
			left: 0;
			@include transition(.3s);
		}
		&:after{
			background: $color-prim;
			width: 3px;
			height: 50px;
			@media (max-width: $screen-xs-max) {
				height: 25px;
			}
			@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
				height: 37px;
			}
			top: 0px;
			@include rotate(-90deg);
			@include transition(transform .3s);
		}
	}
}

.goUp {
	position: absolute;
	bottom: 0px;
	right: 30px;
	height: 100px;
	width: 100px;
	border-radius:100%;
	background: $color-prim;
	border:2px solid $color-prim;
	color:$white;
	margin: 20px 0 90px;
	display: block;
	@include transition( all .3s);
	cursor: pointer;
	text-align: center;
	z-index: 9994;
	@media (max-width: $screen-xs-max) {
		display:none;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
		height: 75px;
		width: 75px;
	}
	&:hover{
			background:transparent;
		i{
			background: $color-prim;
			&:after{
				background: $color-prim;
			}
		}
	}
	i{
		top: 32px;
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
			top: 22px;
		}
		position: relative;
		width: 3px;
		height: 25px;
		background: $white;
		display: inline-block;
		left:-8px;
		transform: rotate(45deg);
		@include transition(.3s);
		&:after, &:before{
			content: '';
			position: absolute;

			@include transition(.3s);
		}
		&:after{
			background: $white;
			width: 3px;
			height: 25px;
			top: -12px;
			left: 12px;
			@include rotate(-90deg);
			@include transition(transform .3s);
		}
	}
}

.goRight {
	@extend .goUp;
	height: 50px;
	width: 50px;
	right:1%;
	margin: 20px 0 60px;
	i{
		transform: rotate(130deg);
		left: 2px;
		top: 8px;
		height: 15px;
		&:after{
			height: 15px;
			top: -6px;
			left: 7px;
		}
	}
	@media (max-width: $screen-xs-max) {
		display:none;
	}
}
.goLeft {
	@extend .goUp;
	height: 50px;
	width: 50px;
	right:96%;
	margin: 20px 0 60px;
	i{
		transform: rotate(310deg);
		left: -2px;
		top: 17px;
		height: 15px;
		&:after{
			height: 15px;
			top: -6px;
			left: 7px;
		}
	}
	@media (max-width: $screen-xs-max) {
		display:none;
	}
}
.plusLinkSmall{
	@extend .plusLink;
	height: 50px;
	width: 50px;
	margin:20px 0;
	i{
		top:12px;
		width:2px;
		height:22px;
		&:after{
			width:2px;
			height:22px;
		}
	}
}

.table{
	display: table;
}
.cell{
	display: table-cell;
	img{
		border:1px solid $white;
		width: 100%;
	}
}