header{
	position:fixed;
	height:113px;
	background:$white;
	width: 100%;
	z-index: 9999;
	@media (max-width: $screen-xs-max) {
		height:70px;
	}
	.remstarLogo{
		position: relative;
		top: -10px;
		left: 110px;
		@media (max-width: $screen-xs-max) {
			top: -30px;
			left: 60px;
		}
	}
	.toggleMenu{
		background: url(../img/sprite.png) no-repeat left top;
		width:40px;
		height: 28px;
		text-indent:-9999px;
		display: block;
		position: relative;
		top: 40px;
		left: 40px;
		@media (max-width: $screen-xs-max) {
			top: 20px;
			left: 10px;
		}

	}
	.langSwitchWrapper{
		padding:30px 40px
	}
	.langSwitch{
		color:$black;
		font-family:$oswald;
		font-size:em(14px);
		text-transform: uppercase;
		padding: 10px 13px;
		display: inline-block;
		&.active{
			color:#6c6c6c;
			background:#ececec;
			border-radius: 5px;
		}
	}
}
nav{
	position: fixed;
	top:113px;
	left:0;
	width: 320px;
	height: 100%;
	background: $gray-nav;
	z-index: 9999;
	@media (max-width: $screen-xs-max) {
		top: 70px;
	}

	ul{
		list-style:none;
		padding:0;
		margin:0;
		li{
			border-bottom: 1px solid #4b4e4e;
			a{
				color:#d6d6d6;
				font-size:em(20px);
				font-family: $oswald;
				font-weight:300;
				background: $gray-nav;
				padding: 25px 40px;
				display: block;
				@include transition(250ms);
				@media (max-width: $screen-xs-max) {
					padding: 20px 40px;
				}
				span{
					color:#656565;
					display: inline-block;
					margin-right: 13px;
					width: 25px;
					@include transition(250ms);
				}
				&:hover{
					background:$color-prim;
					color:$white;
					span{
						color:$white;
					}
				}
			}
		}
	}
}
