.smallTxt,
.bigTxt,
.blocTxt,
.blocTxt2,
.grayBold,
.whiteBold,
.grayBold2,
.grayBold3,
.primBold,
.primLight,
.primGotham,
.primGotham2,
.whiteSmall,
.whiteLightBig,
.whiteSmallBold,
.greyLight,
.greyLight2,
.whiteLightSmall,
.plusBold,
.plusLight,
.plusBig,{
	font-family: $oswald;
	line-height:1em;
	display:inline-block;
	text-transform:uppercase;
}
.smallTxt{
	font-size: em(30px);
	color:#a0a0a0;
	font-weight:300;
}
.bigTxt{
	font-size: em(50px);
	color:#a0a0a0;
	font-weight:400;
}

.blocTxt{
	font-size: em(50px);
	color:$white;
	font-weight:300;
	padding:12px;
	background:$color-prim;
	margin:4px;
}
.blocTxt2{
	@extend .blocTxt;
	font-size: em(30px);
}

.grayBold{
	font-size: em(60px);
	color:#454545;
	font-weight:700;
}
.whiteBold{
	@extend .grayBold;
	color:$white;
}
.grayBold2{
	@extend .grayBold;
	font-size: em(50px);
}
.grayBold3{
	@extend .grayBold;
	font-size: em(37px);
}
.greyLight{
	color:#454545;
	font-weight:300;
	font-size: em(48px);
}
.greyLight2{
	@extend .greyLight;
	font-size: em(38px);
}

.primBold{
	font-size: em(45px);
	color:$color-prim;
	font-weight:700;
}
.whiteSmallBold{
	font-size: em(36px);
	color:$white;
	font-weight:700;
}
.whiteLightBig{
	font-size: em(45px);
	color:$white;
	font-weight:300;
}
.whiteLightSmall{
	font-size: em(30px);
	color:$white;
	font-weight:300;
}
.primLight{
	font-size: em(45px);
	color:$color-prim;
	font-weight:300;
}

.primGotham{
	font-size: em(55px);
	color:$color-prim;
	font-family: $gotham;
}
.primGotham2{
	@extend .primGotham;
	font-size: em(30px);
}
.plusBold{
	font-size: em(14px);
	color:$white;
	font-weight:700;
}
.plusLight{
	font-size: em(14px);
	color:$white;
	font-weight:300;
}
.plusBig{
	font-size: em(25px);
	color:$white;
	font-weight:700;
}