//Fonts
	$base-font-size:16px;
	$oswald: 'Oswald', sans-serif;
	$gotham: 'gotham_blackregular';

// Colors

	$color-prim          : #c8af6a;
	$color-sec           : #e0d4b0;
	$color-text          : #4f4f4f;
	$white               : #ffffff;
	$black               : #000000;
	$footer              : #393939;
	$gray                : #5b5b5b;
	$gray-nav            : #323536;
	$error               : #e45c5c;
