.section{
	padding: 220px 0 110px;
	position: relative;
	@media (max-width: $screen-xs-max) {
		padding: 140px 0 60px;
		font-size:10px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
		padding: 140px 0 110px;
		font-size: 12.5px;
	}

	&:before{
		content: '';
		position: absolute;
		top: 20px;
		left: 49.0%;


		width: 27px;
		height: 28px;
		background: url(../img/sprite.png) -140px top no-repeat;
		z-index: 2;

	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 3px;
		height: 100%;
		background: #d5d5d5;
		@media (max-width: $screen-xs-max) {
			display:none;
		}
	}

	&.capital{
		padding: 180px 0 70px;
		@media (max-width: $screen-xs-max) {
			padding: 130px 0 70px;
		}
		&:before{
			display:none;
		}
		&:after{
			height: 40%;
		}
	}

	.inner{
		padding: 0 70px;
		@media (max-width: $screen-xs-max) {
			padding: 0 ;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
			padding: 0 20px;
		}
	}
}

.titleBox{
	position: absolute;
	top: 50%;
	right: 50%;
	@media (max-width: $screen-xs-max) {
		top: 10%;
		left: 15px;
		width: 100%;
	}
	z-index: 2;
	.number{
		float: left;
		width:80px;
		color:#d4d4d4;
		font-family: $gotham;
		font-size: 46px;
		line-height: 73px;
	}
	.text{
		float: left;
		margin-top: 20px;
		padding-right:70px;
		@media (max-width: $screen-xs-max) {
			padding-right:0px;
		}
	}
	.title{
		font-family: $oswald;
		font-size: 23px;
		color:$color-prim;
		line-height: 1em;
	}
	.subTitle{
		font-family: $oswald;
		font-size: 12px;
		color:$black;
		line-height: 1em;
	}
	.target{
		position: absolute;
		right: -15px;
		top: 30%;
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
}
.parallax {
	background: url(../img/banner.jpg) 50% 0 no-repeat fixed;
	height: 740px;
	background-size: 100% auto;
	margin: 0 auto;
	padding: 0;
	@media (max-width: $screen-xs-max) {
		background: url(../img/banner.jpg) 50% 0 no-repeat scroll;
		height: 150px;
		background-size: 100% 150px;
	}
}
.parallaxMovie {
	background: url(../img/movie1.jpg) 50% 0 no-repeat fixed;
	height: 570px;
	background-size: 100% auto;
	margin: 0 auto;
	padding: 0;
	@media (max-width: $screen-xs-max) {
		font-size: 9.3px;
		background: url(../img/movie1_mobile.jpg) 50% 0 no-repeat scroll;
		height: 370px;
	}
	.inner{
		padding: 150px 0 0;
		@media (max-width: $screen-xs-max) {
			padding: 120px 0 0;
		}
	}
	.titleBox {
		top: 0%;
		.number,
		.subTitle{
			color:$white;
		}
	}
	.plusLink{
		margin: 20px 0 0 75%;
	}
}

.parallaxDiffusion{
	background: url(../img/salvail.jpg) 50% 0 no-repeat fixed;
	height: 600px;
	background-size: 100% auto;
	margin: 0 auto;
	padding: 0;
	@media (max-width: $screen-xs-max) {
		font-size: 9.3px;
		background: url(../img/salvail_mobile.jpg) 50% 0 no-repeat scroll;
		height: 370px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
		font-size: 13px;
		height: 430px;
	}

	.inner{
		padding: 150px 0 0;
		@media (max-width: $screen-xs-max) {
			padding: 68px 0 0;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max+1) {
			padding: 90px 0 0;
		}

	}
	.titleBox {
		top: 0%;
		.number,
		.subTitle{
			color:$white;
		}
	}
	.plusLink{
		margin: 20px 0 0 75%;
	}
}
.pochette{
	display: block;
}