.carousel-inner > .item > img{
	width: 100%;
}
.carousel-caption {
	top: 60px;
	@media (max-width: $screen-xs-max) {
		top:20px;
		font-size:10px;
	}
	left: 0;
	right: 0;
	padding-bottom: 30px;
	text-align: left;
	.plusLinkSmall{
		float: left;
		@media (max-width: $screen-xs-max) {
			display:none;
		}
	}
	.plusLinkTxt{
		@media (max-width: $screen-xs-max) {
			display:none;
		}
		float:left;
		margin:20px 10px;
	}
}
.movieList{
	padding-bottom:150px;
	@media (max-width: $screen-xs-max) {
		padding-bottom: 20px;
	}
	margin:0;
	&.short{
		padding-bottom:0;
	}
	&>div{
		padding:0;
	}
}

.parallaxContact{
	font-size:11px;
	background: url(../img/montreal.jpg) 50% 0 no-repeat fixed;
	height: 400px;
	background-size: 100% auto;
	@media (max-width: $screen-xs-max) {
		background-size: 270% auto;
	}
	margin: 0 auto;
	padding: 0;
	.inner{
		padding: 50px 0 0;
	}
}
.management{
	text-align: center;
	@media (max-width: $screen-xs-max) {
		font-size: 12px;
	}
	h4{
		font-family: $gotham;
		font-size: em(30px);
		text-transform:uppercase;
	}
	h5{
		font-family: $oswald;
		font-size: em(18px);
		text-transform:uppercase;
		font-weight:300;
		margin-bottom:30px;
	}
	.spacer{
		display:block;
		width:100%;
		height:70px;
		@media (max-width: $screen-xs-max) {
			height:40px;
		}
	}
}